<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  processIsolation="false"
  colors="true"
  verbose="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutChangesToGlobalState="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Log Parser Unit Tests">
            <directory>tests/Kassner</directory>
            <file phpVersion="7.1">Tests/LogParser/FactoryTest.php</file>
            <file phpVersion="7.1">Tests/LogParser/LogParserTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
