<phpunit
  bootstrap="tests/bootstrap.php"
  colors="true"
  verbose="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutChangesToGlobalState="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Test Suite log-parser Package">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
